@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    background-image: url('../images/background-image.jpg');
    background-color: #00A8D3;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;   

}

.btn {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding: 2px 5px;
    margin: 20px;
    width: 160px;

    color: #fff;
    background-color: #00A8D3;
    text-shadow: 2px 2px 4px #000000;

    display: block;

}

.buttons {
    position: relative;
    bottom: -100px;
    left: 24%;
    
}

.btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.15em);
}

#heading {
    font-family: 'Alex Brush', sans-serif;
    font-size: 120px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;

}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}